// colors
$grey: #333333;
$white: #ffffff;

// navigation colors
$nav-background: $grey;
$link-default-color: $white;
$link-hover-color: $white;
$link-focus-color: $white;
$link-active-color: $white;

// width
$button-width: 120px;
